.del {
    background: #ccc;
    color:#fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.todo {
background: #7c7b7b;
padding: 10px;
border-bottom: 1px rgb(29, 28, 28) dotteed;
}

.is-complete {
    text-decoration: line-through;
} 